<footer class="p-4 bg-white sm:p-6 dark:bg-stone-800">
    <div class="mx-auto max-w-screen-xl">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <%= render_layout_partial('logo') %>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-stone-900 uppercase dark:text-white">Resources</h2>
                    <ul class="text-stone-600 dark:text-stone-400">
                        <li class="mb-4">
                            <a href="https://flowbite.com" class="hover:underline">Flowbite</a>
                        </li>
                        <li>
                            <a href="https://tailwindcss.com/" class="hover:underline">Tailwind CSS</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-stone-900 uppercase dark:text-white">Follow us</h2>
                    <ul class="text-stone-600 dark:text-stone-400">
                        <li class="mb-4">
                            <a href="https://github.com/samacs/divercoin" class="hover:underline" target="_blank">Github</a>
                        </li>
                        <li>
                            <a href="https://linkedin.com/in/samacs" class="hover:underline" target="_blank">LinkedIn</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-stone-900 uppercase dark:text-white">Legal</h2>
                    <ul class="text-stone-600 dark:text-stone-400">
                        <li class="mb-4">
                            <%= link_to 'Privacy Policy', static_pages_path(page: 'privacy'), class: 'hover:underline' %>
                        </li>
                        <li>
                            <%= link_to 'Terms of Service', static_pages_path(page: 'terms'), class: 'hover:underline' %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-stone-200 sm:mx-auto dark:border-stone-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-stone-500 sm:text-center dark:text-stone-400">© <%= Time.current.year %> <%= link_to 'DiverCoin™', root_path, class: 'hover:underline' %>. All Rights Reserved.</span>
        </div>
    </div>
</footer>
