<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
    <head>
        <%= title %>
        <%= meta_viewport %>
        <%= meta_charset %>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
    </head>
    <body>
        <%= render_layout_partial 'header' %>
        <%= render_flash_messages %>
        <%= render_turbo_modal %>
        <%= yield %>
        <%= render_layout_partial 'footer' %>
    </body>
</html>
